# Test Report

- At the beginning, I initialized ActorWorld Jumper Rock Flower Bug

- I write 9 Test function to test.
    - noBoundary() : when there is nothing in front of a jumper
    - rockInfront() :  when there is a grid between a jumper to a rock
    - facingRock() :  when a jumper facing a rock
    - flowerInfront() : when there is a grid between a jumper to a flower
    - facingFlower() : when a jumper facing a flower
    - bugInfront() : when there is a grid between a jumper to a bug
    - facingBug() : when a jumper facing a bug
    - wallInfront() : when there is a grid between a jumper to the wall
    - facingWall() : when a jumper facing the wall

- All the test are successful.